.welcome-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  font-family: "Viga", sans-serif;
  user-select: none;
}

.welcome-text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}
.welcome-text-container {
  font-size: 60px;
  font-weight: bold;
}

.welcome-text-container a {
  margin: 0 5px;
}

.welcome-text-top {
  display: flex;
  justify-items: center;
  align-items: center;
}
.welcome-text-top img {
  width: 80px;
}
.welcome-text-middle {
  font-size: 38px;
}

.welcome-spline-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.spline-container {
  width: 80%;
  height: 80%;
}

.spline-container img {
  padding: 0 8px;
  height: 80px;
  width: auto;
}

#title-stack {
  font-weight: 900;
  font-size: 72px;
  background: #23c4cf;
  background: -webkit-linear-gradient(to right, #23c4cf 13%, #a004cf 93%);
  background: -moz-linear-gradient(to right, #23c4cf 13%, #a004cf 93%);
  background: linear-gradient(to right, #23c4cf 13%, #a004cf 93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#btnHireMe {
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;

  border: 2px solid #edeae5;
  background-color: transparent;
  color: #edeae5;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#btnHireMe:hover {
  color: #212121;
  font-weight: bold;
  background-color: #edeae5;
  transition: all 0.3s ease-in-out;
}

#btnCV {
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
  border: 2px solid #edeae5;
  cursor: pointer;
  color: #212121;
  font-weight: bold;
  background-color: #edeae5;
  transition: all 0.3s ease-in-out;
}
#btnCV:hover {
  background-color: transparent;
  color: #edeae5;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .welcome-container {
    flex-direction: column;
    justify-content: center;
  }
  .welcome-text-container {
    width: 100%;
    height: auto;
  }
  .welcome-spline-container {
    width: 100%;
    height: 60%;
  }
  .welcome-text-container {
    font-size: 40px;
  }
  .welcome-text-middle {
    font-size: 24px;
  }
  #title-stack {
    font-size: 48px;
  }
  .welcome-text-top img {
    width: 60px;
  }
}
