.projects-container {
  height: 100vh;
  width: 100%;
}
.projects-container-cards {
  padding-top: 80px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: auto;
}
.card {
  min-width: 280px;
  min-height: 300px;
  width: 560px;
  height: auto;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  color: white;
  text-align: center;
}

.card .card-image {
  min-width: 280px;
  max-width: 560px;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.card .card-image:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.048);
}
.card .card-image img {
  border-radius: 5px;
  width: 100%;
  height: 285px;
  object-fit: cover;
  overflow: hidden;
}
.card .card-content .card-content-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content-links a {
  color: black;
  margin: 0 4px;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.card-content-links a:hover {
  color: rgb(59, 57, 79);
  transition: all 0.3s ease-in-out;
}
.card-content h2,
p,
div {
  padding: 4px 0;
}
