header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

.header-container {
  width: 80%;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  width: 100px;
  height: 100%;
}

.btnContact {
  font-weight: 600;
  color: black;
  background-color: #edeae5;
  padding: 7px 14px;
  border-radius: 3px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.btnContact:hover {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #edeae5;
  border: 2px solid #edeae5;
}
