@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
  background-color: #000000;
  color: #edeae5;
}

a {
  text-decoration: none;
}
#blur {
  background: rgba(0, 0, 0, 0.048);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#blur2 {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
